{% block subject %}
    Auto Polis Изменение пароля
{% endblock %}
 
{% block body_text %}

{% endblock %}
 
{% block body_html %}
    {% autoescape false %}
Для изменения Вашего пароля перейдите по ссылке:<br>
<br>
<a href="{{ forgot_link }}">{{ forgot_link }}</a><br>
<br>
С уважением,<br>
<br>
{{ email_footer_message }}
    {% endautoescape %}
{% endblock %}
 