{% block subject %}
    Auto Polis Password Reset
{% endblock %}
 
{% block body_text %}

{% endblock %}
 
{% block body_html %}
    {% autoescape false %}
Click this link to reset your password:<br>
<br>
<a href="{{ forgot_link }}">{{ forgot_link }}</a><br>
<br>
Thank you,<br>
<br>
{{ email_footer_message }}
    {% endautoescape %}
{% endblock %}
 