{% extends 'base.html.twig' %}

{% use 'content.html.twig' %}

{% block title %}Полис V 1.0{% endblock title %}

{% block content_stylesheets %}

{% endblock content_stylesheets %}
    
{% block content_javascripts %}

{% endblock content_javascripts %}

{% block block_content %}
    <h1> Привет всем </h1>
{% endblock block_content %}
