<link href="{{ asset('js/popup/popup.css') }}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ asset('js/popup/popup.js') }}"></script>

    <div id="popupshadow">
      <div id="popupwindow">
        {% include 'nomen/popup_nomen_list.html.twig' %}
      </div>
    </div>


{#<div id="zatemnenie" class="popup tabs_info">
    <div id="okno">
	<a class="close" href="#">Close</a>
	<h2>Вкладки (tabs)</h2>		
	<div class="selectTabs">
		<ul class="lineTabs">
			<li class="active"><a href="#">Удобства вкладок</a></li>
			<li><a href="#">Преимущества вкладок</a></li>
		</ul>
		<div class="tab_content">
			<div class="tab1">
				<p>Tabs - элемент интерфейса для отображения группы документов таким образом, что только 1 активный документ показан, а остальные спрятаны. Пришёл этот элемент интерфейса в компьютеры из офисного быта: папки с документами разделялись такими закладками на группы. Ну и конечно телефонные книги часто разделены табами по алфавиту.</p>
			</div>
			<div class="tab2">
				<p><img alt="" src="/images/tabs.jpg" /> Табы показаны в одном месте, рядом. Отсюда — удобство навигации. И целостность навигации, что тоже важно. Все уже привыкли к табам, так как видят и используют их везде (те же телефонные книжки, каталоги в библиотеках, и т.д.). А значит и домохозяйка знает, как они работают.</p>
			</div>
		</div>
	</div>			
    </div>
</div>#}