<!DOCTYPE html>
<html lang="ru">
    <head>
        {% block headerControls %}

            <meta charset="utf-8">
            <title>{% block title %}{% endblock %}</title>
            
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="">
    
            <script type="text/javascript" src="assets/js/jquery.min.js"></script>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.js"></script>
    
            <link rel="stylesheet" href="assets/css/style.css">
            <link rel="stylesheet" href="assets/css/loader-style.css">
            <link rel="stylesheet" href="assets/css/bootstrap.css">
    
            <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->
            <!-- Fav and touch icons -->
            <link rel="shortcut icon" href="assets/ico/minus.png">


            {% block stylesheets  %}

            {% endblock stylesheets %}

            {% block javascripts %}

            {% endblock javascripts %}

        {% endblock headerControls %}
    </head>

    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">

        {% block body %} 

        {% endblock %}

    </body>
</html>
