<!--   Add message   -->
<div class="g_user-pop-up is_hidden f_add-user-popup">
    <div class="user-pop-inner f_add-user-container">
        <p>Add to Influencers list?</p>
        <a class="btn add-ok f_add-ok" href="javascript:void(0);">OK</a>
        <a class="btn add-cancel f_cancel-btn" href="javascript:void(0);" >Cancel</a>
    </div>
</div>

<!--  Delete message  -->
<div class="g_user-pop-up is_hidden f_delete-user-popup">
    <div class="user-pop-inner f_delete--user-container">
        <p> Are you sure to delete selected influencer info?</p>
        <a class="btn delete-ok f_delete-ok" href="javascript:void(0);">OK</a>
        <a class="btn delete-cancel" id="cancelBtn" href="javascript:void(0);" >Cancel</a>
    </div>
</div>

<!--  private account  -->
<div class="g_user-pop-up is_hidden f_private-account-popup">
    <div class="user-pop-inner f_private-popup-container">
        <h2 class="text-warning">Info!</h2>
        <p>This account is private</p>
        <a class="btn btn-warning btn-large f_ok-btn" href="javascript:void(0);">OK</a>
    </div>
</div>



<!--   Import CSV message   -->
<div class="g_user-pop-up is_hidden f_import-csv-success">
    <div class="user-pop-inner f_scv-popup-container">
        <h2 class="text-success">Success!</h2>
        <p>The CSV file has been uploaded!</p>
        <a class="btn btn-success btn-large f_ok-btn" href="javascript:void(0);">OK</a>
    </div>
</div>

<!--   Import CSV error message   -->
<div class="g_user-pop-up is_hidden f_import-csv-error">
    <div class="user-pop-inner f_scv-popup-container">
        <h2 class="text-danger">Error!</h2>
        <p>Please upload CSV file</p>
        <a class="btn btn-danger btn-large f_ok-btn" href="javascript:void(0);">OK</a>
    </div>
</div>

<!--   Campaign Upload CSV message   -->
<div class="g_user-pop-up is_hidden f_scv-success">
    <div class="user-pop-inner f_scv-popup-container">
        <h2 class="text-success">Success!</h2>
        <p>The Ignore CSV file has been uploaded!</p>
        <a class="btn btn-success btn-large f_ok-btn" href="javascript:void(0);">OK</a>
    </div>
</div>

<!--   Campaign Upload CSV error message   -->
<div class="g_user-pop-up is_hidden f_scv-error">
    <div class="user-pop-inner f_scv-popup-container">
        <h2 class="text-danger">Error!</h2>
        <p>Please upload CSV file</p>
        <a class="btn btn-danger btn-large f_ok-btn" href="javascript:void(0);">OK</a>
    </div>
</div>


<!--   Re-Authorize message   -->
<div class="g_user-pop-up is_hidden" id="reAuthorize">
    <div class="user-pop-inner f_re-authorize-container">
        <h2 class="text-danger">Warning!</h2>
        <p> 
            Hey it looks like your instagram authorization has expired.
            We need you to re-authorize your account to continue using clusoo. Please click here to begin:
        </p>
        <a id="reAuthorizeBtn" class="btn btn-primary btn-large" href="javascript:void(0)">Re-authorize</a>
    </div>
</div>