.date-from {
    width: 80px;
    padding: 4px;
}

.date-to {
    width: 80px;
    padding: 4px;
}

.number-from {
    width: 100px;
    padding: 4px;
}

.number-to {
    width: 100px;
    padding: 4px;
}

.table-striped th {
    vertical-align: top;
}