/*
.content--breadcrumb {
    margin: 0 auto;
    max-width: 1230px;
    width: 100%;
    padding: 0 25px;
}

.content--breadcrumb .breadcrumb--list li {
    display: inline-block;
    vertical-align: middle;
}
.content--breadcrumb .breadcrumb--list .breadcrumb--title {
    font-size: 14px;
}
.content--breadcrumb .breadcrumb--list .breadcrumb--separator  {
    padding: 10px 5px;
}

.content--breadcrumb .breadcrumb--list .breadcrumb--separator .fa {
    font-size: 15px;
}

.content--breadcrumb .breadcrumb--list .breadcrumb--entry {
    padding: 10px;
}
.content--breadcrumb .breadcrumb--list .breadcrumb--entry.home--entry {
    padding-left: 0;
}


              768px               
@media screen and (max-width: 768px) {

    .content--breadcrumb .breadcrumb--list .breadcrumb--entry {
        padding: 10px 5px;
    }
}

              480px               
@media screen and (max-width: 480px) {
    
    .content--breadcrumb {
        padding: 0 5px;
    }
}*/