/*

.content-wrapper .stats-title {
    border-color: #dfdfdf;
}

.content-wrapper .stats-options .left {
    border-color: #dfdfdf;
}

.content-wrapper .stats-graf .graf-followers li {
    background-color: #dfdfdf;
}

.stats-title > h2 {
    color: #cf4e37;
}

.stats-title > h2 .stats-title-detail,
.stats-title > h2 .stats-title-detail a {
    color: #dfdfdf;
}

.content-wrapper .stats-options .options-list li a {
    background-color: #e7e7e7;
    color: #47484c;
    border: 1px solid #e2e2e2;
}

.content-wrapper .stats-options .options-list li a:hover {
    background-color: #d9d9d9;
}

.content-wrapper .stats-options .options-list li .options-list-download {
    background-color: #e2735e;
    color: #ffeef1;
    border: 1px solid #ac6554;
}

.content-wrapper .stats-options .options-list li .options-list-download:hover {
    background-color: #ac6554;
}

.content-wrapper .stats-graf h3 {
    color: #ba533f;
}

.content-wrapper .stats-graf .graf-followers li span.graf-info-description {
    background-color: #a4a4a4;
    color: #fff;
}

.content-wrapper .stats-graf .graf-followers .followers-increment {
    color: #5a7d5d;
}

.content-wrapper .stats-graf .graf-followers .followers-increment-perc {
    color: #a5a6a2;
}

header.dashboard-header {
    border-color: #deddde;
    background-color: #efefef;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.dashboard-nav .header-navbar li a {
    color: #414141;
}

.dashboard-nav .header-navbar li a:hover,
.dashboard-nav .header-navbar li a.is--active {
    background-color: #f6f6f6;
}

.content-wrapper .section-title {
    color: #636363;
}

.content-wrapper .section-desc,
.content-wrapper .detail-list span,
.content-wrapper .detail-list a {
    color: #7c7c7c;
}

.content-wrapper .detail-list a.quest-btn {
    color: #9c9c9c;
}

.content-wrapper .section-desc {
    border-color: #dfdfdf;
}

i.fa-question {
    color: #c1c1c1;
}

.content-wrapper .detail-list .list-active,
.content-wrapper .detail-list .list-inactive {
    background-color: #f1f1f1;
}

.content-wrapper .detail-list .list-inactive span {
    background-color: #f2a544;
}

.content-wrapper .detail-list .list-active span {
    background-color: #98bb65;
}

.content-wrapper .detail-list .view-detail {
    color: #4aa7e0;
}

.content-wrapper .detail-list > li {
    background-color: #f6f6f6;
}

.dashboard-nav .mobile-menu a {
    color: #636363;
}

.project-main-header .mobile-menu a {
    color: #f7f7f7;
}
.stats-graf .import-data, .stats-graf  .import-influencer-block li input{
    border-color: #c6c7c7;
}
.stats-graf .data-table .table .table-row ul li{
    border-color: #C6C7C7;
}
.influencer_table_form .import-button{
    background-color: #265A88;
    color: #fff;
}*/