{% set i=1 %}
{% if breadcrumbs is defined %}
    <nav class="content--breadcrumb">
        <ul class="breadcrumb--list">
            {% for breadcrumb in breadcrumbs %}
                {% if i>1 %}<li class="breadcrumb--separator"><i class="fa fa-angle-right"></i></li>{% endif %}
                <li class="breadcrumb--entry {% if i == 1 %} home--entry {% endif %}">
                    {% if breadcrumb["url"] != "" %}<a class="breadcrumb--link" href="{{ breadcrumb["url"] }}"><span class="breadcrumb--title">{{ breadcrumb["name"] }}</span></a>{% else %}<span class="breadcrumb--title">{{ breadcrumb["name"] }}</span>{% endif %}
                    {% set i=i+1 %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}