
<footer class="footer-main">
    <div class="information-row">
        <ul class="page-info">
            <li>{# <a href="{{ path('dashboard') }}">Home</a> #}</li>
            <li><a href="">About Us</a></li>
            <li><a href="">Contact Us</a></li>
        </ul>

        <ul class="legal-info">
            <li><a href="">Terms & Conditions</a></li>
            <li><a href="">Privacy Policy</a></li>
        </ul>
    </div>

    <div class="socials-row">
        <ul class="social-icons">
            <li class="icon-box facebook-icon">
                <a href=""><i class="fa fa-facebook fa-lg"></i></a>
            </li>
            <li class="icon-box google-icon">
                <a href=""><i class="fa fa-google-plus fa-lg"></i></a>
            </li>
            <li class="icon-box twitter-icon">
                <a href=""><i class="fa fa-twitter fa-lg"></i></a>
            </li>
            <li class="icon-box linkedin-icon">
                <a href=""><i class="fa fa-linkedin fa-lg"></i></a>
            </li>
            <li class="icon-box pinterest-icon">
                <a href=""><i class="fa fa-pinterest fa-lg"></i></a>
            </li>
            <li class="icon-box youtube-icon">
                <a href=""><i class="fa fa-youtube-play fa-lg"></i></a>
            </li>
            <li class="icon-box instagram-icon">
                <a href=""><i class="fa fa-instagram fa-lg"></i></a>
            </li>
        </ul>

        <div class="copyright-box">
            &copy; 2016, Clusoo UG All Rights Reserved
        </div>
    </div>

</footer>
