<div class="notity-progress-bar">
    <spna class="api-title">api</spna>
    <div class="progress-bar-content">
        <div class="progress">
            <div id="notity-progress" class="progress-bar progress-bar-striped" role="progressbar"
                 aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0">
            </div>
{#            <span class="progress-count-remaining" id="progressCountRemaining"></span>#}
        </div>
    </div>
</div>
