.invoice-header {
    background: #c9e7f2!important;
    color: #31708f!important;
}
/*.invoice-header {
    background: #EFEFF0;
    color: #fff;
    border-radius: 4px 4px 0 0;
    margin: -16px 0 30px 0px;
}*/
/*small.pull-right {
    color: #fff;
    font-size: 17px;
    margin: 8px 0;
}*/
.page-header {
    padding-bottom: 9px!important;
    margin: 30px 0 20px!important;
    border-bottom: 0px solid #eee!important;
}

.valign-top {
    vertical-align: top!important;
}

.valign-top-center {
    vertical-align: top!important;
    text-align: center!important;
}